
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.dropdown-menu .glyphicon,
.btn > .glyphicon {
	margin-right: 5px;
}

.is-flex {
	display: flex;
	display: -webkit-box;
    display: -ms-flexbox;
}

.flex {
	flex: 1;
}

article.snippet:not(:first-child) {
	padding-top: 1em;
}

.snippets > article.snippet:not(:last-child) {
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}

pre {
	padding: 0;
}

button.glyphicon.glyphicon-heart {
	background: none;
	border: none;
	outline: none;
}

button.glyphicon.glyphicon-heart:hover {
	color: crimson;
	cursor: pointer;
}

button.glyphicon.glyphicon-heart.liked {
	color: crimson;
}

.vote-counter {
	margin-right: 1rem;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: white;
}

.footer {
	border-top: 1px solid #d3e0e9;
}

.footer a {
	cursor: pointer;
}

.footer .glyphicon-chevron-left {
	margin-right: -5px;
}

.container p {
	margin: 20px 0;
}

.glyphicon-code:before {
	content: '\f05f';
}
