
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.dropdown-menu .glyphicon,
.btn > .glyphicon {
	margin-right: 5px;
}

.is-flex {
	display: flex;
	display: -webkit-box;
    display: -ms-flexbox;
}

.flex {
	flex: 1;
}

article.snippet {
	padding-top: 1em;
}

.snippets > article.snippet:not(:last-child) {
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}

pre {
	padding: 0;
}

button.glyphicon.glyphicon-heart {
	background: none;
	border: none;
	outline: none;
}

button.glyphicon.glyphicon-heart:hover {
	color: crimson;
	cursor: pointer;
}

button.glyphicon.glyphicon-heart.liked {
	color: crimson;
}

.like-counter {
	margin-right: 1rem;
}
