
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.mb-1 {
	margin-bottom: 1em;
}

.is-flex {
	display: flex;
	display: -webkit-box;
    display: -ms-flexbox;
}

.flex {
	flex: 1;
}

article.snippet {
	padding-top: 1em;
}

.snippets > article.snippet:not(:last-child) {
	padding-bottom: 1em;
	border-bottom: 2px dashed #e3e3e3;
}

pre {
	padding: 0;
}
